<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layoutDecorator/mainDecorator">
<head>
    <style>
        .botaoBuscaModal{
            padding-top: 15px;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            $("#busca-modal").modal();
        });

        $(function () {
            $("#btn-selecionar").click(function(){
                idEquipamento = $("#id-equipamento").val();
                if(idEquipamento != "") {
                    $("#formulario").submit();
                }
            });
        });
        $(function () {
            $("#botao-busca").click(function(){
                var complemento = $("#serial").val() ;
                var urlConsulta = "/consultaSerial?serial=" + complemento;
                    $.get(urlConsulta, function(data, status){
                    $("#id-equipamento").val(data.id);
                    $("#serial-text").text(data.serial);
                    $("#equipamento-text").text(data.tipoEquipamento);
                    $("#fabricante-text").text(data.fabricante);
                    $("#modelo-text").text(data.modelo);
                });
            });
        });
    </script>
</head>
<body>
<section id="content" class="container" layout:fragment="content">
    <div class="container">
        <div id="busca-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="get" th:action="@{/EntradaEquipamentoComEquipamento}" name="cadastra-form" id="formulario">
                        <input id="id-equipamento" type="hidden" name="id-equipamento"/>

                        <div class="modal-header">
                            <h4 class="modal-title">Seleção de Equipamento</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-10">
                                    <label for="serial">Serial:</label>
                                    <input type="text" class="form-control" id="serial" autofocus="autofocus" />
                                </div>
                                <div class="col-md-2 botaoBuscaModal">
                                    <button id="botao-busca" type="button" class="btn btn-primary btn-lg">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-md-12  form-group" >
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Serial</th>
                                            <th>Equipamento</th>
                                            <th>Fabricante</th>
                                            <th>Modelo</th>
                                        </tr>
                                        <tr>
                                            <td><span id="serial-text" ></span></td>
                                            <td><span id="equipamento-text"></span></td>
                                            <td><span id="fabricante-text" ></span></td>
                                            <td><span id="modelo-text"></span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btn-selecionar" type="button" class="btn btn-primary btn-lg" name="btn-id-equipamento">Selecionar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>