<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layoutDecorator/mainDecorator">
<head>
    <script th:src="@{/js/busca.js}"></script>
    <style>
        .form-inline{
            display : inline;
        }
    </style>
</head>
<body>
<section id="content" class="container" layout:fragment="content">
    <div class="container">
        <form method="get" th:action="@{/BuscaEquipamentoCom}" th:object="${equipamentoForm}" name="cadastra-form">
            <div id="confirma-exclusao" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Atenção</h4>
                    </div>
                <div class="modal-body">
                    <p>Tem certeza que deseja remover o equipamento selecionado?</p>
                </div>
                <div class="modal-footer">
                    <button id="sim-modal" type="submit" class="btn btn-default" name="btn-id-equipamento" th:formaction="@{/RemoveEquipamento}" formmethod="post">Sim</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Não</button>
                </div>
                </div>
            </div>
        </div>

            <div class="row" >
                <div class="col-md-12  form-group" >
                    <h2 class="text-center">Consulta de Equipamentos</h2>
                    <hr class="soften"/>
                </div>
            </div>

            <div class="row" >
                <div class="col-md-3  form-group" >
                    <label for="serial">Serial:</label>
                    <input type="text" class="form-control" id="serial" autofocus="autofocus" th:field="*{serial}"/>
                </div>
                <div class="col-md-4  form-group" >
                    <div class="form-group">
                        <label for="tipo-equipamento">Tipo de Equipamento</label>

                        <select class="form-control" id="tipo-equipamento" th:field="*{tipoEquipamento}">
                            <option  selected="selected" value=""> ---Todos---</option>
                            <option th:each="tipoEquipamento : ${tiposEquipamento}"
                                     th:value="${tipoEquipamento}"
                                     th:text="${tipoEquipamento.descricao}"
                                     data-th-attr="data-container-class=${tipoEquipamento.categoria}">Equipamento</option>
                        </select>

                    </div>
                </div>
                <div class="col-md-4  form-group" >
                    <label for="local">Local</label>

                    <select class="form-control"  id="local" th:field="*{idLocal}">
                        <option selected="selected" value=""> ---Todos--- </option>
                        <option th:each="local : ${locais}"
                                th:value="${local.id}"
                                th:text="${local.nome}">Local</option>
                    </select>

                </div>
                <div class="col-md-1  form-group" >
                    <button type="submit" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="row" >
                <div class="col-md-12  form-group" >
                    <table class="table table-striped">
                        <tr>
                            <th>Serial</th>
                            <th>Equipamento</th>
                            <th>Fabricante</th>
                            <th>Modelo</th>
                            <th>Local</th>
                            <th>Informações Específicas</th>
                            <th>Ações</th>
                        </tr>
                        <tr th:each="equipamentoForm : ${equipamentosForm}">
                            <td th:text="${equipamentoForm.serial}" ></td>
                            <td th:text="${equipamentoForm.tipoEquipamento.descricao}"></td>
                            <td th:text="${equipamentoForm.fabricante}"></td>
                            <td th:text="${equipamentoForm.modelo}"></td>
                            <td th:text="${equipamentoForm.local.nome}"></td>
                            <td th:text="${equipamentoForm.informacoesEspecificas}"></td>
                            <td>
                                <input type="hidden" th:value="${equipamentoForm.id}" name="idEquipamento"/>
                                <button type="submit" class="btn btn-default" th:value="${equipamentoForm.id}" th:formaction="@{/EditaEquipamento}" name="btn-edita">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default" data-toggle="modal"  onclick="preparaModel($(this))">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                 </div>
            </div>
        </form>
    </div>
</section>

</body>
</html>