<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layoutDecorator/mainDecorator">
<head>
    <style>
        .equipamento{
            padding-top: 17px
        }
        [class*="equipamento-"]{
            display: none;
        }
        .mostra{
            display: block;
        }
        hr.soften {
            height: 2px;
            background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
            background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
            background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
            background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
            border: 0;
        }
    </style>
    <script>
        function validaForm() {
            $('form :input:hidden').not("input[name='_csrf']").attr("disabled", true);
            return true;
        }
        $(window).load(function() {
            var selectedContainerClass =  $("#tipo-equipamento").find("option:selected").data("container-class");
            $("." + selectedContainerClass).addClass("mostra");
        });
        $(function () {
            $("#tipo-equipamento").change(function(){
                var selectedContainerClass = $(this).find("option:selected").data("container-class");
                $("[class*='equipamento-']").fadeOut(1 , function(){
                    $("." + selectedContainerClass).fadeIn(1);
                });
            });
        });


        $(function () {
            $("#fabricante").change(function(){
               $(this).closest("div").removeClass("has-error");
                $("#msn-validacao-fabricante").replaceWith("");
            });
        });

        $(function () {
            $("#proprietario").change(function(){
                $(this).closest("div").removeClass("has-error");
                $("#msn-validacao-proprietario").replaceWith("");
            });
        });

        $(function () {
            $("#local").change(function(){
                $(this).closest("div").removeClass("has-error");
                $("#msn-validacao-local").replaceWith("");
            });
        });

        $(function () {
            $("#tipo-equipamento").change(function(){
                $(this).closest("div").removeClass("has-error");
                $("#msn-validacao-tipo-equipamento").replaceWith("");
            });
        });

        $(function () {
            $("#tipo-conexao").change(function(){
                $(this).closest("div").removeClass("has-error");
                $("#msn-validacao-tipo-conexao").replaceWith("");
            });
        });

        $(function () {
            $("#polegada").change(function(){
                $(this).closest("div").removeClass("has-error");
                $("#msn-validacao-polegadas").replaceWith("");
            });
        });

        $(function () {
            $("#processador").change(function(){
                $(this).closest("div").removeClass("has-error");
                $("#msn-validacao-processador").replaceWith("");
            });
        });

        $(function () {
            $("#memoria").change(function(){
                $(this).closest("div").removeClass("has-error");
                $("#msn-validacao-memoria").replaceWith("");
            });
        });
        $(function () {
            $("#hd").change(function(){
                $(this).closest("div").removeClass("has-error");
                $("#msn-validacao-hd").replaceWith("");
            });
        });
        $(function () {
            $("#tipo-impressora").change(function(){
                $(this).closest("div").removeClass("has-error");
                $("#msn-validacao-tipo-impressora").replaceWith("");
            });
        });

        $(function () {
            $("#serial").keypress(function(){
                $(this).closest("div").removeClass("has-error");
                $("#msn-validacao-serial").replaceWith("");
            });
        });
        $(function () {
            $("#modelo").keypress(function(){
                $(this).closest("div").removeClass("has-error");
                $("#msn-validacao-modelo").replaceWith("");
            });
        });

        $(function () {
            $("[name='colorida']").change(function(){
                $(this).parents("div").removeClass("has-error");
                $("#msn-validacao-cor").replaceWith("");
            });
        });
        $(function () {
            $("[name='semFio']").change(function(){
                $(this).parents("div").removeClass("has-error");
                $("#msn-validacao-sem-fio").replaceWith("");
            });
        });

        $(function () {
            $("[name='ip']").change(function(){
                $(this).parents("div").removeClass("has-error");
                $("#msn-validacao-ip").replaceWith("");
            });
        });
    </script>
</head>
<body>
<section id="content" class="container" layout:fragment="content">
    <div class="container">
        <div class="row" >
           <div class="col-md-12  form-group" >
                <h2 class="text-center">Cadastro de Equipamentos</h2>
               <hr class="soften"/>
           </div>
        </div>
        <form class="form-horizontal" method="post" th:action="@{/CadastroEquipamento}" th:object="${equipamentoForm}" name="cadastra-form" onsubmit="return validaForm()">
            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    <div class="equipamento">
                        <div class="form-group" th:classappend="${#fields.hasErrors('serial')} ? 'has-error' : ''">
                            <label for="serial">Serial:</label>
                            <input type="text" class="form-control" id="serial" th:field="*{serial}" autofocus="autofocus"/>
                            <label id="msn-validacao-serial" class="control-label" th:if="${#fields.hasErrors('serial')}" th:errors="*{serial}">Serial Error</label>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('fabricante')} ? 'has-error' : ''">
                            <label for="fabricante">Fabricante</label>
                            <select class="form-control"  id="fabricante" th:field="*{fabricante}">
                                <option selected="selected" value=""> ---Selecione uma opção---</option>
                                <option th:each="fabricante : ${fabricantes}"
                                        th:value="${fabricante}"
                                        th:text="${fabricante.descricao}">Fabricante
                                </option>
                             </select>
                            <label id="msn-validacao-fabricante" class="control-label" th:if="${#fields.hasErrors('fabricante')}" th:errors="*{fabricante}">Fabricante Error</label>
                        </div>
                        <div class="form-group"  th:classappend="${#fields.hasErrors('modelo')} ? 'has-error' : ''">
                            <label for="modelo">Modelo</label>
                            <input class="form-control" type="text" id="modelo" th:field="*{modelo}"/>
                            <label id="msn-validacao-modelo" class="control-label" th:if="${#fields.hasErrors('modelo')}" th:errors="*{modelo}">Modelo Error</label>
                        </div>
                        <div class="form-group"  th:classappend="${#fields.hasErrors('proprietario')} ? 'has-error' : ''">
                            <label for="proprietario">Proprietario</label>
                            <select class="form-control"  id="proprietario" th:field="*{proprietario}">
                                <option selected="selected" value=""> ---Selecione uma opção---</option>
                                <option th:each="proprietario : ${proprietarios}"
                                        th:value="${proprietario}"
                                        th:text="${proprietario.descricao}">Proprietario
                                </option>
                            </select>
                            <label id="msn-validacao-proprietario" class="control-label" th:if="${#fields.hasErrors('proprietario')}" th:errors="*{proprietario}">Modelo Error</label>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('idLocal')} ? 'has-error' : ''">
                            <label for="local">Local</label>
                            <select class="form-control"  id="local" th:field="*{idLocal}">
                                <option selected="selected" value=""> ---Selecione uma opção---</option>
                                <option th:each="local : ${locais}"
                                        th:value="${local.id}"
                                        th:text="${local.nome}">Local</option>
                            </select>
                            <label id="msn-validacao-local" class="control-label" th:if="${#fields.hasErrors('idLocal')}" th:errors="*{idLocal}">Modelo Error</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-2">
                    <div class="equipamento">
                        <div class="form-group"  th:classappend="${#fields.hasErrors('tipoEquipamento')} ? 'has-error' : ''">
                            <label for="tipo-equipamento">Tipo de Equipamento</label>
                            <select class="form-control" id="tipo-equipamento" th:field="*{tipoEquipamento}" >
                                <option  selected="selected" value=""> ---Selecione uma opção---</option>
                                <option th:each="tipoEquipamento : ${tiposEquipamento}"
                                        th:value="${tipoEquipamento}"
                                        th:text="${tipoEquipamento.descricao}"
                                        data-th-attr="data-container-class=${tipoEquipamento.categoria}">Equipamento</option>
                            </select>
                            <label id="msn-validacao-tipo-equipamento" class="control-label" th:if="${#fields.hasErrors('tipoEquipamento')}" th:errors="*{tipoEquipamento}">Tipo Equipamento Error</label>
                        </div>
                    </div>
                    <div class="equipamento equipamento-computador container-escondido">
                        <div class="form-group"  th:classappend="${#fields.hasErrors('processador')} ? 'has-error' : ''">
                            <label for="processador">Processador</label>
                            <select class="form-control"  id="processador" th:field="*{processador}">
                                <option selected="selected" value=""> ---Selecione uma opção---</option>
                                <option th:each="processador : ${processadores}"
                                        th:value="${processador}"
                                        th:text="${processador.descricao}">Processador
                                </option>
                            </select>
                            <label id="msn-validacao-processador" class="control-label" th:if="${#fields.hasErrors('processador')}" th:errors="*{processador}">Modelo Error</label>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('memoria')} ? 'has-error' : ''">
                            <label for="memoria">Memoria</label>
                            <select class="form-control"  id="memoria" th:field="*{memoria}">
                                <option selected="selected" value="-1"> ---Selecione uma opção---</option>
                                <option th:each="memoria : ${memorias}"
                                        th:value="${memoria}"
                                        th:text="${memoria.descricao}">Memoriatipo-impre
                                </option>
                            </select>
                            <label id="msn-validacao-memoria" class="control-label" th:if="${#fields.hasErrors('memoria')}" th:errors="*{memoria}">Modelo Error</label>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('hd')} ? 'has-error' : ''">
                            <label for="hd">HD</label>
                            <select class="form-control"  id="hd" th:field="*{hd}">
                                <option selected="selected" value=""> ---Selecione uma opção---</option>
                                <option th:each="hd : ${hds}"
                                        th:value="${hd}"
                                        th:text="${hd.descricao}">Hd
                                </option>
                            </select>
                            <label id="msn-validacao-hd" class="control-label" th:if="${#fields.hasErrors('hd')}" th:errors="*{hd}">Hd Error</label>
                        </div>
                    </div>
                    <div class="equipamento equipamento-impressora container-escondido">
                        <div class="form-group" th:classappend="${#fields.hasErrors('colorida')} ? 'has-error' : ''">
                            <label>Colorida</label>
                            <div class="radio" >
                                <label> <input  type="radio"  th:value="true" th:field="*{colorida}" />Sim</label>
                            </div>
                            <div class="radio">
                                <label> <input type="radio"  th:value="false" th:field="*{colorida}" />Nao</label>
                            </div>
                            <label id="msn-validacao-cor" class="control-label" th:if="${#fields.hasErrors('colorida')}" th:errors="*{colorida}">Hd Error</label>
                        </div>
                        <div class="form-group"  th:classappend="${#fields.hasErrors('fabricante')} ? 'has-error' : ''">
                            <label for="tipo-impressora">Tipo</label>
                            <select class="form-control" id="tipo-impressora" th:field="*{tipoImpressora}">
                                <option  selected="selected" value=""> ---Selecione uma opção---</option>
                                <option th:each="tipoImpressora : ${tiposImpressora}"
                                        th:value="${tipoImpressora}"
                                     th:text="${tipoImpressora.descricao}">Tipo Impressora
                                </option>
                            </select>
                            <label id="msn-validacao-tipo-impressora" class="control-label" th:if="${#fields.hasErrors('tipoImpressora')}" th:errors="*{tipoImpressora}">TipoImpressora Error</label>
                        </div>
                    </div>
                    <div class="equipamento equipamento-monitor container-escondido">
                        <div class="form-group"  th:classappend="${#fields.hasErrors('fabricante')} ? 'has-error' : ''">
                            <label for="polegada">Polegadas</label>
                            <select id="polegada" class="form-control" th:field="*{polegadas}">
                                <option selected="selected" value=""> ---Selecione uma opção---</option>
                                <option th:each="polegada : ${polegadas}"
                                        th:value="${polegada}"
                                        th:text="${polegada.descricao}">Tipo Impressora
                                </option>
                            </select>
                            <label  id="msn-validacao-polegadas" class="control-label" th:if="${#fields.hasErrors('polegadas')}" th:errors="*{polegadas}">Polegadas Error</label>
                        </div>
                    </div>
                    <div class="equipamento equipamento-teclado equipamento-mouse container-escondido">
                        <div class="form-group"  th:classappend="${#fields.hasErrors('tipoConexao')} ? 'has-error' : ''">
                            <label for="tipo-conexao">Conexao</label>
                            <select class="form-control" id="tipo-conexao" th:field="*{tipoConexao}">
                                <option selected="selected" value=""> ---Selecione uma opção---</option>
                                <option th:each="tipoConexao : ${tiposConexao}"
                                        th:value="${tipoConexao}"
                                        th:text="${tipoConexao.descricao}">Tipo Conexao
                                </option>
                            </select>
                            <label id="msn-validacao-tipo-conexao" class="control-label" th:if="${#fields.hasErrors('tipoConexao')}" th:errors="*{tipoConexao}">Tipo Conexao Error</label>
                        </div>
                    </div>
                    <div class="equipamento equipamento-telefone container-escondido">
                        <div class="form-group" th:classappend="${#fields.hasErrors('semFio')} ? 'has-error' : ''">
                            <label>Sem Fio</label>
                            <div class="radio" >
                                <label> <input type="radio" name="sem-fio" th:value="true" th:field="*{semFio}" />Sim</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="sem-fio" th:value="false" th:field="*{semFio}" />Nao</label>
                            </div>
                            <label id="msn-validacao-sem-fio" class="control-label" th:if="${#fields.hasErrors('semFio')}" th:errors="*{semFio}">Sem Fio Error</label>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('ip')} ? 'has-error' : ''">
                            <label>Ip</label>
                            <div class="radio" >
                                <label> <input type="radio" name="ip" value="true" th:field="*{ip}"/>Sim</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="ip" value="false" th:field="*{ip}" checked="checked"/>Nao</label>
                            </div>
                            <label id="msn-validacao-ip" class="control-label" th:if="${#fields.hasErrors('ip')}" th:errors="*{ip}">Ip Error</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr class="soften"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-10">
                    <div class="equipamento form-group">
                            <button type="submit" class="btn btn-primary btn-lg">Cadastrar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

</body>
</html>