<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layoutDecorator/mainDecorator">
<head>
    <!--<meta charset="utf-8" />-->
    <style>
        .bordas{
            border : 2px solid grey;
            background-color: #DCDCDC;
            border-radius: 10px;
            padding: 20px 20px 20px 20px;
            margin-bottom: 20px;
        }
        .botaoAlihamento{
            padding-top: 25px;
            padding-left: 10px;
        }
    </style>
    <script th:inline="javascript">
        var idPagina="entrada";
    </script>
</head>
<body>
<section id="content" class="container" layout:fragment="content">
    <div class="container">
        <div class="row" >
            <div class="col-md-12  form-group" >
                <h2 class="text-center"><span> Entrada de Equipamentos</span></h2>
                <hr class="soften"/>
            </div>
        </div>
        <form class="form-horizontal" method="post" th:action="@{/DarEntradaEquipamento}" th:object="${itemEstoqueRotativoForm}">
            <input type="hidden" th:field="*{equipamento.id}" />

        <div class="sub-container bordas">
            <div class="row">
                <div class="col-md-4">
                    <label for="serial">Serial:</label>
                    <input type="text" class="form-control" id="serial" disabled="disabled" th:field="*{equipamento.serial}" />
                </div>
                <div class="col-md-5">
                    <label for="tipo-equipamento">Tipo de Equipamento:</label>
                    <input type="text" class="form-control" id="tipo-equipamento" disabled="disabled" th:field="*{tipoEquipamento}"/>
                </div>
                <div class="col-md-3 botaoAlihamento">
                    <button type="submit" data-toggle="modal" class="form-control btn btn-primary" th:formaction="@{/EntradaEquipamentoSemEquipamento}">Alterar Equipamento</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="fabricante">Fabricante:</label>
                    <input type="text" class="form-control" id="fabricante" disabled="disabled" th:field="*{equipamento.fabricante}"/>
                </div>
                <div class="col-md-4">
                    <label for="modelo">Modelo:</label>
                    <input type="text" class="form-control" id="modelo" disabled="disabled" th:field="*{equipamento.modelo}"/>
                </div>
                <div class="col-md-4">
                    <label for="local">Local:</label>
                    <input type="text" class="form-control" id="local" disabled="disabled" th:field="*{local.nome}" />
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="status">Status</label>
                    <select class="form-control"  id="status" th:field="*{status}">
                        <option selected="selected" value=""> ---Selecione uma opção---</option>
                        <option th:each="status : ${statusItemRotativo}"
                                th:value="${status}"
                                th:text="${status.descricao}">Proprietario
                        </option>
                    </select>
                </div>
                <div class="col-md-8">
                    <label for="finalidade">Finalidade</label>
                    <select class="form-control"  id="finalidade" th:field="*{finalidade}">
                        <option selected="selected" value=""> ---Selecione uma opção---</option>
                        <option th:each="finalidade : ${finalidades}"
                                th:value="${finalidade}"
                                th:text="${finalidade.descricao}">Proprietario
                        </option>
                    </select>
                </div>
            </div>

            <label for="defeito">Defeito</label>
            <textarea id="defeito" class="form-control" name="textarea" rows="5" cols="50" th:field="*{defeito}"></textarea>

            <div class="row" >
                <div class="col-md-12  form-group" >
                    <hr class="soften"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-10">
                    <div class="form-group">
                        <button id="btn-acao" type="submit" class="btn btn-primary btn-lg">Dar Entrada</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

</body>
</html>