<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layoutDecorator/mainDecorator">
<head>
    <link rel="stylesheet" th:href="@{/css/bruno.css}" href="/static/css/crudEquipamento.css" />
</head>
<body>
<section id="content" class="container" layout:fragment="content">
    <div class="container">
        <h1>Bem Vindo ao RotStock</h1>
        <div class="row">
            <!--<div class="eu">-->
            <!--</div>-->
            <img th:src="@{/images/Lindo.png}" style="border-radius: 8px"/>
        </div>
        </div>
</section>

</body>
</html>